<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tenwame.forgetmypicture">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".ForgetMyPictureApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_full_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/search_activity_name">
        </activity>
        <activity
            android:name=".activities.UserSetupActivity"
            android:label="@string/user_setup_activity_name">
        </activity>
        <activity
            android:name=".activities.HomepageActivity"
            android:label="@string/homepage_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
